<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nenu.ossas.mapper.usermapper.UserMapper">
    <cache type="com.nenu.ossas.config.redis.RedisCache"/>

    <resultMap id="User" type="com.nenu.ossas.entity.user.User">
        <id property="id" column="id"/>
        <result property="userName" column="userName"/>
        <result property="passWord" column="userPassword"/>
        <result property="role" column="role"/>
    </resultMap>

    <select id="getAllUsers" resultMap="User">
        SELECT * FROM `users`
    </select>
    <select id="findByName" resultMap="User">
        SELECT * FROM users WHERE username = #{name} limit 1
    </select>
    <select id="findById" resultMap="User">
        SELECT * FROM users WHERE id = #{id} limit 1
    </select>
    <insert id="addUser">
        insert into users(userName,passWord,role,perms) value (#{user.userName},#{user.passWord},#{user.role},'perm:')
    </insert>
    <delete id="delUser">
        delete from users where id = #{user.id}
    </delete>
</mapper>