<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<name></name>
		<link rel="stylesheet" type="text/css" href="/static/CSS/index.css">
		<link rel="stylesheet" type="text/css" href="/static/detailed_inf.css">
		<script src="/static/JS/vue.js"></script>
		
	    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->  
	</head>
	<body>
		<div class="nav">
			<ul>
				<li id="home_page">
				
				</li>
				<li class="mainmenu">
					<a class="link" href="home.html">首页</a>
				</li>
				<li class="mainmenu">
					<a class="link">新闻</a>
					<dl>
						<dd> <a href="">寻主</a></dd>
						<dd> <a href="">寻宠</a></dd>
					</dl>
        		</li>
        		<li class="mainmenu">
					<a class="link" href="">百科</a>
				</li>
        		<li class="mainmenu">
					<a class="link" href="res_station.html">救助机构</a>
				</li>
				<li class="mainmenu">
					<a class="link">我们在行动</a>
					<dl>
						<dd> <a href="donation.html">捐款</a></dd>
			            <dd> <a href="voluntary.html">志愿活动</a></dd>
			            <dd> <a href="">关于我们</a></dd>
					</dl>
        		</li>
			</ul>
		</div>
		<div class="mainbox2">
			<div class="head">
				<div class="icon"><img src="/static/IMG/1 (2).png"></div>
				<div class="name">
					<h1>领养协议</h1>
				</div>
			</div>
			<div class="middle">
				<div class="icon"><img src="/static/IMG/1 (2).png"></div>
				<div class="submit">
					<form action="" >
						<div id="left">
							<div class="int">
								<input type="text" name="user" id="user" class="input" placeholder="领养人真实姓名……"/>
							</div>
							<div class="int">
								<input type="text" name="id" id="id" class="input" placeholder="领养人身份证号……"/>
							</div>
							<div class="int">
								<input type="text" name="telephone" id="telephone" class="input" placeholder="领养人电话号码……"/>
							</div>
							<div class="int">
								<input type="text" name="company" id="company" class="input" placeholder="领养人工作单位……"/>
							</div>
							<div class="int1">
								<input type="text" name="family" id="family" class="input1" placeholder="领养人家庭住址……"/>
							</div>
						</div>
						<div id="right">
							<div class="protocol">
								<p>
									为确保被领养宠物（特别是幼仔）能够终身享受免疫以及绝育等待遇，保证宠物健康，减少流浪宠物产生的源头，甲、乙双方经协商特拟订此协议，以资双方共同遵守。<br />
								　　第一条、甲方小管家爱猫狗救助中心，将其救助的流浪宠物交由乙方喂养。<br />
								　　第二条、甲方的权利以及义务：<br />
								　　1）领养流浪动物时，乙方必须向甲方缴纳疫苗费 元/只。若领养时甲方未给被领养流浪动物进行疫苗注射（疫苗根据猫狗当下情况而定），甲方将把乙方所缴纳的疫苗费转交至指定
								宠物医院，乙方自行带领养的动物到宠物医院进行注射疫苗即可，若乙方怠于注射由此产生的一切经济、法律责任均由乙方自行承担，甲方概不负责（亦可以让甲方帮忙负责注射疫苗，或
								者在外注射请保留注射的凭证告知甲方）。<br />
								　　2）甲方应向乙方如实告知领养宠物之健康状况、性格、爱好、生活习惯等情况。<br />
								　　3）协助乙方熟悉被领养宠物，并安排被领养宠物到达乙方家庭后初期的生活。<br />
								　　4）为乙方领养提供必要的咨询和协助。<br />
								　　5）在乙方接收领养宠物的2个月内对乙方喂养、疫苗、绝育等情况进行了解以及回访，并有权在2个月之后作随时回访。<br />
								　　6）协助乙方对所领动物进行绝育手术，费用由乙方承担。<br />
								　　第三条、乙方的权利以及义务：<br />
								　　1）在接收前，乙方有权要求甲方提供关于领养宠物包括健康状况、性格、爱好习惯等在内之真实情况，并进行初步的观察以及接触（这个阶段在救助中心）。<br />
								　　2）事先与家人做好必要的沟通以及商议，不得因家人反对、婚姻、生育、工作变动等原因抛弃、虐待所领养的动物。<br />
								　　3）为领养宠物提供宠物粮食、窝及宠物专用的生活用具等；提供洁净的饮用水等。<br />
								　　4）在室内提供让宠物活动的空间，实行家庭喂养（不得放养），定期带宠物到户外活动。<br />
								　　5）为领养的宠物提供必要的医疗措施，定期为领养的宠物注射疫苗及驱虫。<br />
								　　6）如果领养时该动物仍未绝育的，乙方必须在领养后，在其具备绝育条件后，应对该动物进行绝育手术。<br />
								　　7）在无法继续喂养领养宠物的情况下，将宠物交回给甲方（需说明退还原因），并协助甲方继续寻找合适的领养人，不得未经甲方同意而自行转交他人、买卖或将其抛弃。<br />
								　　8）乙方必须无条件接受并积极配合甲方关于在接收领养动物后的回访规定，即由甲方安排合适的人员，双方协商时间，不定期对领养家庭家访，不得阻挠或拒绝、拖延。<br />
								　　第四条、附加条款：<br />
								　　1）若乙方在领养宠物后出现虐待、转赠、出售领养动物，或因乙方的过失导致所领养犬只死亡或丢失，再次致其流浪等情况，甲方将保留追偿经济赔偿的权利。<br />
								　　2）领养人对流浪狗之家的回访工作不配合时，介绍人有义务出面协调、协助回访。<br />
								　　3）领养人在领养宠物前应慎重考虑，领养后对宠物负责，不要发生随意领养、又随意退回宠物的情况，以防止对领养宠物造成再次伤害。对于在领养宠物之前没有考虑清楚，后又因家人
								反对、婚姻、生育、工作变动等原因退还所领养宠物的，甲方将保留追偿经济赔偿的权利。<br />
								　　4）本协议中甲方所有的“追偿经济赔偿的权利”指：即乙方向小管家爱猫狗救助中心一次性缴纳一季度助养费（每个月80元）共计240元人民币。所得款项均用于流浪狗之家救助宠
								物的日常开销。<br />
								　　5）甲方履行被领养宠物情况如实告知义务后，乙方领养期间因宠物引起的一切发了、经济责任均由乙方承担，与甲方无关。<br />
								　　第五条、本协议自乙方接收领养之日起生效。自生效之日起，任何一方有违约的行为，守约方可单方解除本合同。<br />
								　　第六条、如有争议，双方应协商解决。协商不成的，任一方可向甲方所在地人民法院提起诉讼。<br />
								　　第七条、本协议之未尽事宜，由双方另行约定（附文字说明）。<br />
								</p>
							</div>
							<div class="int2">
								<input type="radio" name="agree" value="agree" class="input2">我已阅读并同意该《领养协议》
							</div>
							<div class="sub">
								<button type="submit" id="send">确认领养</button> 
							</div>
						</div>
					</form>
				</div>
			</div>
				
		</div>
		
	</body>
</html>
