<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<name></name>
	    <link rel="stylesheet" type="text/css" href="/static/CSS/index.css">
	</head>
	<body>
		<div class="nav">
			<ul>
				<li id="home_page">
				
				</li>
				<li class="mainmenu">
					<a class="link" href="home.html">首页</a>
				</li>
				<li class="mainmenu">
					<a class="link" href="">新闻</a>
					<dl>
						<dd> <a href="">寻主</a></dd>
						<dd> <a href="">寻宠</a></dd>
					</dl>
        		</li>
        		<li class="mainmenu">
					<a class="link" href="">百科</a>
				</li>
        		<li class="mainmenu">
					<a class="link" href="">救助机构</a>
				</li>
				<li class="mainmenu">
					<a class="link" href="">我们在行动</a>
					<dl>
						<dd> <a href="">捐款</a></dd>
			            <dd> <a href="">志愿活动</a></dd>
			            <dd> <a href="">关于我们</a></dd>
					</dl>
        		</li>
			</ul>
		</div>
		<div class="mainbox">
			<div class="content">
				<h1>Adoption system for stray animals</h1><br />
				<h2>Cross-platform mobile services that help you everyday.</h2>
				<div id="logselect">
					<a href="login.html"><button type="button">Log in</button></a>
					<a href="logup.html"><button type="button">Log up</button></a>
				</div>
			</div>
		</div>
	</body>
</html>
