<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<name></name>
		<!--<link rel="stylesheet" type="text/css" href="../CSS/index.css">-->
		<link rel="stylesheet" type="text/css" href="/static/CSS/log.css">
		<script src="/static/JS/vue.js"></script>
			
	    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->  
	</head>
	<body>
		<div id="log">
			<div id="content">
				<div id="head">
					<div id="logo"><img src="/static/IMG/490db2cd82b136078e5e6cf755fd59b6.png"></div>
					
					<div id="skip">
						<a href="login.html"><button type="button" class="select" id="signin">登录</button></a>
						<a href="logup.html"><button type="button" class="select" id="signup">注册</button></a>
					</div>
				</div>
				<div id="information">
					<form action="">
						<div class="int">
							<i class="icon"></i>
							<input type="text" name="user" id="user" class="input" placeholder="手机/邮箱/用户名"/>
						</div>
						<div class="int">
							<i class="icon"></i>
							<input type="password" name="pwd" id="pwd" class="input" placeholder="请输入密码"/>
						</div>
						<div class="int">
							<i class="icon"></i>
							<input type="password" name="pwd2" id="pwd2" class="input" placeholder="请再次输入密码"/>
						</div>
						<div class="int">
							<i class="icon"></i>
							<input type="text" name="telephone" id="telephone" class="input" placeholder="请输入手机"/>
						</div>
						<div class="int">
							<i class="icon"></i>
							<input type="text" name="mail" id="mail" class="input" placeholder="请输入邮箱"/>
						</div>
						<div class="sub">
							<button type="submit" id="send">注册并登录</button> 
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
