<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<name></name>
		<link rel="stylesheet" type="text/css" href="/static/CSS/index.css">
		<link rel="stylesheet" type="text/css" href="/static/CSS/voluntary.css">
	    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>--> 
		<script src="../JS/vue.js"></script>
	    
	</head>
	<body>
		<div class="nav">
			<ul>
				<li id="home_page">
					<a class="link" href="home.html">首页</a>
				</li>
				<li class="mainmenu">
					<a class="link">新闻</a>
					<dl>
						<dd> <a href="">寻主</a></dd>
						<dd> <a href="">寻宠</a></dd>
					</dl>
        		</li>
        		<li class="mainmenu">
					<a class="link" href="">百科</a>
				</li>
        		<li class="mainmenu">
					<a class="link" href="res_station.html">救助机构</a>
				</li>
				<li class="mainmenu">
					<a class="link">我们在行动</a>
					<dl>
						<dd> <a href="donation.html">捐款</a></dd>
			            <dd> <a href="voluntary.html">志愿活动</a></dd>
			            <dd> <a href="">关于我们</a></dd>
					</dl>
        		</li>
			</ul>
		</div>
		<div class="mainbox2">
			<div class="activity">
				<div class="actiontitle">
					<h2>这是标题</h2>
				</div>
				<div class="neirong">
					<div class="img"><img src="/static/IMG/1 (2).png"></div>
					<div class="text">
						<p>文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文
						字简介文字简介文字简介文字简介文字www.xxx001.com</p>
					</div>
				</div>
			</div>
			<div class="activity">
				<div class="actiontitle">
					<h2>这是标题</h2>
				</div>
				<div class="neirong">
					<div class="img"><img src="/static/IMG/1 (2).png"></div>
					<div class="text">
						<p>文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文
						字简介文字简介文字简介文字简介文字www.xxx001.com</p>
					</div>
				</div>
			</div>
			<div class="activity">
				<div class="actiontitle">
					<h2>这是标题</h2>
				</div>
				<div class="neirong">
					<div class="img"><img src="/static/IMG/1 (2).png"></div>
					<div class="text">
						<p>文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文字简介文
						字简介文字简介文字简介文字简介文字www.xxx001.com</p>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>
