@charset "utf-8";
.mainbox{
	position: relative;
	padding: 100px;
	
}
*{
	padding: 0;
	margin: 0;
}

.neirong{
	padding: 10px;
	width:200px;
	height: 300px;
	background-color: white;
}
#left{
	position: absolute;
	top:100px;
	left: 350px;
}
#right{
	position: absolute;
	top:100px;
	left:650px ;
}
a{
	text-decoration: none;
	color: green;
}
.skip{
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
}
